// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

h4.success {
    color: #28A197;
    font-weight: bold;
    margin-top: 10px;
    p {
        margin-bottom: 0px
    }
}

h4.failure {
    color: #b10e1e;
    font-weight: bold;
    margin-top: 10px;
    p {
        margin-bottom: 0px
    }
}

.duration-video {
    padding: 0 10px 0 0;
    width: 75px;
    float: left;

    input.form-control {
        width: 100%;
    }
}

.description-video {
    margin-bottom: 30px;

    textarea {
        width: 100%;
        height: 150px;
        resize: none;
    }
}

.list-item {
    text-align: right;
}
