{% extends "layout.html" %}

{% block page_title %}
All Content
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-full">

            <p/>
            <div>
                <a href="/book"  value="content-list">Create an eBook</a>
            </div>
            <div>
                <a href="/prospectus"  value="content-list">Create a Prospectus</a>
            </div>
            <div>
                <a href="/video"  value="content-list">Create a Video</a>
            </div>
            <div>
                <a href="/radio"  value="content-list">Create a Radio Show</a>
            </div>

            <h1 class="heading-xlarge">All content</h1>

            <table id="contentItemsTable">
                <thead>
                <tr id="contentItemsTableHeader">
                    <th scope="col">Title</th>
                    <th class="list-item" scope="col">Content Type</th>
                    <th class="list-item" scope="col">Updated</th>
                </tr>
                </thead>

                <tbody>

                {% for item in contentItems %}
                <tr id="contentItem{{ loop.index0 }}">
                    <td id="contentItem{{ loop.index0 }}-title">{{ item.metadata.title }}</td>
                    <td id="contentItem{{ loop.index0 }}-content-type" class="list-item">{{ item.metadata.contentType | capitalize }}</td>
                    <td id="contentItem{{ loop.index0 }}-timestamp" class="list-item">{{ item.timestamp | date }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">No previous uploads</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</main>

{% endblock %}
