{% extends "layout.html" %}

{% block page_title %}
All Content
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-full">

            <h3 class="heading-medium">Create new content</h3>

            <div class="form-group">
                <a href="/create-content" class="button" value="Create new content">Create new content</a>
            </div>

            <h3 class="heading-medium">Previously created content</h3>

            <table id="contentItemsTable">
                <thead>
                <tr id="contentItemsTableHeader">
                    <th scope="col">Title</th>
                    <th class="list-item" scope="col">Content Type</th>
                    <th class="list-item" scope="col">Updated</th>
                    <th class="list-item" scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>

                {% for item in contentItems %}
                <tr id="contentItem{{ loop.index0 }}">
                    <td id="contentItem{{ loop.index0 }}-title">{{ item.metadata.title }}</td>
                    <td id="contentItem{{ loop.index0 }}-content-type" class="list-item">{{ item.metadata.contentType | capitalize }}</td>
                    <td id="contentItem{{ loop.index0 }}-timestamp" class="list-item">{{ item.timestamp | date }}</td>
                    <td id="contentItem{{ loop.index0 }}-actions" class="list-item"><a href="/{{item.metadata.contentType}}/{{item.id}}">Edit</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No previous uploads</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</main>

{% endblock %}
