{% extends "layout.html" %}

{% block page_title %}
Upload - eBook
{% endblock %}

{% block content %}
{% set contentType="book" %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="form-group" id="#navigation-all-content">
                <a href="/" class="link-back" value="content-list" id="all-content">All Content</a>
            </div>

            <div class="error-summary js-hidden" role="group" aria-labelledby="error-summary-heading-example-2"
                 tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                    Please check the following areas
                </h1>
                <p>One or more errors have occurred while trying to save your progress</p>
                <ul class="error-summary-list">
                    <li><a href="#title-book">Not including the title of a book</a></li>
                    <li><a href="#file-upload">Uploading a file that's too large</a></li>
                </ul>
            </div>

            <form action="" method="post" class="form" enctype="multipart/form-data" name="upload" id="upload-form">
                <input class="form-control" id="contentType" name="contentType" type="hidden" value="{{ contentType }}">

                <h3 class="heading-medium">eBook</h3>

                <div class="form-group" id="#title-book">
                    <legend id="file-upload">
                        <label class="form-label-bold" for="title">Title</label>
                    </legend>
                    <span class="form-hint">For example, ‘In The Country Of Men’.</span>

                    <input class="form-control" id="title" type="text" name="title" value="{{originalItem.metadata.title}}">
                </div>

                <div class="form-group, description" id="#description-book">
                    <legend id="description-legend">
                        <label class="form-label-bold" for="title">Description</label>
                    </legend>
                    <span class="form-hint">Explain what the eBook is about.</span>

                    <textarea class="form-control" rows="4" id="description" name="description" type="text">{{originalItem.metadata.description}}</textarea>
                </div>

                {% if originalItem %}
                <input class="form-control" id="originalItem" name="originalItem" type="hidden" value="{{originalItem | dump}}">
                <p>You are editing: <span class="success">{{originalItem.filename}}</span></p>
                {% else %}
                <div class="form-group" id="#file-upload">
                    <label class="form-label-bold" for="mainFile">Upload eBook file</label>
                    <span class="form-hint">This should be in a PDF format and no larger than 5MB.</span>
                    <input type="file" id="mainFile" name="main">
                </div>

                <div class="form-group" id="#thumbnail-upload">
                    <label class="form-label-bold" for="thumbnailFile">Upload thumbnail file</label>
                    <span class="form-hint">The format should be JPG.</span>
                    <input type="file" id="thumbnailFile" name="thumbnail">
                </div>
                {% endif %}

                <div class="form-group">
                    <input class="button" type="submit" value="Save" id="upload">

                  {% if uploadDetails.success %}
                    <h4 id="uploadSuccess" class="success">Saved successfully</h4>
                    <p id="uploadSuccessNotes" class="font-xsmall">{{ uploadDetails.timestamp }}</p>
                  {% endif %}
                </div>

            </form>
        </div>

        <div class="column-full">
            {% include "components/content_items_table.html" %}
        </div>

    </div>

</main>
{% endblock %}
