{% extends "layout.html" %}

{% block page_title %}
Upload - Prospectus
{% endblock %}

{% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}


    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">A Course</h1>

            <div class="error-summary js-hidden" role="group" aria-labelledby="error-summary-heading-example-2"
                 tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                    Please check the following areas
                </h1>
                <p>One or more errors have occurred while trying to save your progress</p>
                <ul class="error-summary-list">
                    <li><a href="#title-course">Not including the title of a course</a></li>
                    <li><a href="#file-upload">Uploading a file that's too large</a></li>
                </ul>
            </div>


            <form action="" method="post" class="form" enctype="multipart/form-data" name="upload">

                <h3 class="heading-medium">Prospectus</h3>

                <div class="form-group" id="#title-course">
                    <legend id="file-upload">
                        <label class="form-label-bold" for="prospectusTitle">Title</label>
                    </legend>
                    <span class="form-hint">For example, ‘Maths Module 1: Learning about numbers’.</span>

                    <input class="form-control" id="prospectusTitle" type="text" name="prospectusTitle">
                </div>

                <div class="form-group">
                    <label class="form-label-bold" for="prospectusSubject">Subject</label>
                    <span class="form-hint">Select the subject that the prospectus is from.</span>
                    <select class="form-control" id="prospectusSubject" name="prospectusSubject">
                        <option>Distance Learning</option>
                        <option>Art and Literature</option>
                        <option>Business and Economics</option>
                        <option>Counselling and Psychology</option>
                        <option>English</option>
                        <option>Environmental Studies</option>
                        <option>Foreign Languages</option>
                        <option>History</option>
                        <option>Law and Politics</option>
                        <option>Maths</option>
                        <option>Philosophy</option>
                        <option>Science</option>
                        <option>Sociology</option>
                    </select>
                </div>

                <div class="form-group" id="#file-upload">
                    <label class="form-label-bold" for="prospectusFile">Upload file</label>
                    <span class="form-hint">This should be in a PDF format and no larger than 5MB.</span>
                    <input type="file" id="prospectusFile" name="prospectusFile">
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Save" id="upload">

                  {% if uploadDetails.success %}
                    <h4 id="uploadSuccess" class="success">Saved successfully</h4>
                    <p id="uploadSuccessNotes" class="font-xsmall">{{ uploadDetails.timestamp }}</p>
                  {% endif %}
                </div>

            </form>

        </div>
        <div class="column-full">
            <h3 class="heading-medium">
                Previously uploaded Prospectuses
            </h3>

            <table id="contentItemsTable">
                <thead>
                <tr id="contentItemsTableHeader">
                    <th scope="col">Prospectus title</th>
                    <th class="numeric" scope="col">Subject</th>
                    <th class="numeric" scope="col">File name</th>
                </tr>
                </thead>
                <tbody>

            {% for item in contentItems %}
                <tr id="contentItem{{ loop.index0 }}">
                    <td>{{ item.title }}</td>
                    <td class="numeric">{{ item.category }}</td>
                    <td class="numeric">{{ item.filename }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>There are no results found.</td>
                </tr>
            {% endfor %}

                </tbody>
            </table>


        </div>
    </div>


</main>
{% endblock %}
