{% extends "layout.html" %}

{% block page_title %}
Hub Admin UI
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Hub Admin UI
                <h2 class="heading-large">Hub Admin UI</h2>

                <p>
                    Coming soon
                </p>

                <p class="code">
                    > Next
                </p>

        </div>
    </div>
</main>

{% endblock %}


