{% extends "layout.html" %}

{% block page_title %}
Upload - Prospectus
{% endblock %}

{% block content %}
{% set contentType="prospectus" %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="form-group" id="#navigation-all-content">
                <a href="/" class="link-back" value="content-list" id="all-content">All Content</a>
            </div>

            <div class="error-summary js-hidden" role="group" aria-labelledby="error-summary-heading-example-2"
                 tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                    Please check the following areas
                </h1>
                <p>One or more errors have occurred while trying to save your progress</p>
                <ul class="error-summary-list">
                    <li><a href="#title-course">Not including the title of a course</a></li>
                    <li><a href="#file-upload">Uploading a file that's too large</a></li>
                </ul>
            </div>


            <form action="" method="post" class="form" enctype="multipart/form-data" name="upload">
                <input class="form-control" id="contentType" name="contentType" type="hidden" value="{{ contentType }}">

                <h3 class="heading-medium">Prospectus</h3>

                <div class="form-group" id="#title-course">
                    <legend id="file-upload">
                        <label class="form-label-bold" for="title">Title</label>
                    </legend>
                    <span class="form-hint">For example, ‘Maths Module 1: Learning about numbers’.</span>

                    <input class="form-control" id="title" type="text" name="title">
                </div>

                <div class="form-group" id="#list-category">
                    <label class="form-label-bold" for="category">Subject</label>
                    <span class="form-hint">Select the subject that the prospectus is from.</span>
                    <select class="form-control" id="category" name="category">
                        <option>Distance Learning</option>
                        <option>Art and Literature</option>
                        <option>Business and Economics</option>
                        <option>Counselling and Psychology</option>
                        <option>English</option>
                        <option>Environmental Studies</option>
                        <option>Foreign Languages</option>
                        <option>History</option>
                        <option>Law and Politics</option>
                        <option>Maths</option>
                        <option>Philosophy</option>
                        <option>Science</option>
                        <option>Sociology</option>
                    </select>
                </div>

                <div class="form-group" id="#file-upload">
                    <label class="form-label-bold" for="mainFile">Upload prospectus file</label>
                    <span class="form-hint">This should be in a PDF format and no larger than 5MB.</span>
                    <input type="file" id="mainFile" name="mainFile">
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Save" id="upload">

                  {% if uploadDetails.success %}
                    <h4 id="uploadSuccess" class="success">Saved successfully</h4>
                    <p id="uploadSuccessNotes" class="font-xsmall">{{ uploadDetails.timestamp }}</p>
                  {% endif %}
                </div>

            </form>

        </div>

        <div class="column-full">
            {% include "components/content_items_table.html" %}
        </div>
    </div>

</main>
{% endblock %}
