{% extends "layout.html" %}

{% block page_title %}
Upload - Radio
{% endblock %}

{% block content %}
{% set contentType="radio show" %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="form-group" id="#navigation-all-content">
                <a href="/" class="link-back" value="content-list" id="all-content">All Content</a>
            </div>

            <div class="error-summary js-hidden" role="group" aria-labelledby="error-summary-heading-example-2"
                 tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                    Please check the following areas
                </h1>
                <p>One or more errors have occurred while trying to save your progress</p>
                <ul class="error-summary-list">
                    <li><a href="#title-book">Not including the title of a radio show</a></li>
                    <li><a href="#file-upload">Uploading a file that's too large</a></li>
                </ul>
            </div>

            <form action="" method="post" class="form" enctype="multipart/form-data" name="upload" id="upload-form">
                <input class="form-control" id="contentType" name="contentType" type="hidden" value="radio">

                <h3 class="heading-medium">Radio</h3>

                <div class="form-group" id="#title-book">
                    <legend id="file-upload">
                        <label class="form-label-bold" for="title">Title</label>
                    </legend>
                    <span class="form-hint">For example, ‘Episode One’.</span>


                    <input class="form-control" id="title" type="text" name="title" value="{{originalItem.metadata.title}}">
                </div>

                <div class="form-group" id="#list-channel">
                    <label class="form-label-bold" for="channel">Channel</label>
                    <span class="form-hint">Select the channel to which the show belongs.</span>
                    <select class="form-control" id="channel" name="channel">
                        <option {% if originalItem.metadata.channel == 'Bob and Beyond' %} selected="selected"{% endif %}>Bob and Beyond</option>
                        <option {% if originalItem.metadata.channel == 'Books Unlocked' %} selected="selected"{% endif %}>Books Unlocked</option>
                        <option {% if originalItem.metadata.channel == 'Check Up' %} selected="selected"{% endif %}>Check Up</option>
                        <option {% if originalItem.metadata.channel == 'Freedom Inside' %} selected="selected"{% endif %}>Freedom Inside</option>
                        <option {% if originalItem.metadata.channel == 'Hot 20' %} selected="selected"{% endif %}>Hot 20</option>
                        <option {% if originalItem.metadata.channel == 'NPR Friday' %} selected="selected"{% endif %}>NPR Friday</option>
                        <option {% if originalItem.metadata.channel == 'Past, Present and Future' %} selected="selected"{% endif %}>Past, Present and Future</option>
                        <option {% if originalItem.metadata.channel == 'Porridge' %} selected="selected"{% endif %}>Porridge</option>
                        <option {% if originalItem.metadata.channel == 'Prime Time' %} selected="selected"{% endif %}>Prime Time</option>
                        <option {% if originalItem.metadata.channel == 'Prison News' %} selected="selected"{% endif %}>Prison News</option>
                        <option {% if originalItem.metadata.channel == 'Rock Show' %} selected="selected"{% endif %}>Rock Show</option>
                        <option {% if originalItem.metadata.channel == 'Straightline' %} selected="selected"{% endif %} >Straightline</option>
                        <option {% if originalItem.metadata.channel == 'Takeover' %} selected="selected"{% endif %}>Takeover</option>
                        <option {% if originalItem.metadata.channel == 'TV Guide' %} selected="selected"{% endif %}>TV Guide</option>
                        <option {% if originalItem.metadata.channel == 'Work It' %} selected="selected"{% endif %}>Work It</option>
                    </select>
                </div>

                {% if originalItem.metadata.radioLength %}
                    {% set durationParts=originalItem.metadata.radioLength.split(':') %}
                {% endif %}

                <div class="form-group" id="#duration">
                    <label class="form-label-bold">Radio show length</label>

                    <div class="duration" id="#radio-length-hours">
                        <span class="form-hint">Hours</span>
                        <input class="form-control" id="lengthHours" type="text" value="{{durationParts[0]}}">
                    </div>

                    <div class="duration" id="#radio-length-minutes">
                        <span class="form-hint">Minutes</span>
                        <input class="form-control" id="lengthMinutes" type="text" value="{{durationParts[1]}}">
                    </div>

                    <div class="duration" id="#video-length-seconds">
                        <span class="form-hint">Seconds</span>
                        <input class="form-control" id="lengthSeconds" type="text" value="{{durationParts[2]}}">
                    </div>

                    <input class="form-control" id="radioLength" name="radioLength" type="hidden">

                </div>

                {% if originalItem %}
                    <input class="form-control" id="originalItem" name="originalItem" type="hidden" value="{{originalItem | dump}}">
                <p>You are editing: <span class="success">{{originalItem.filename}}</span></p>
                {% else %}
                <div class="form-group" id="#file-upload">
                    <label class="form-label-bold" for="mainFile">Upload Radio file</label>
                    <span class="form-hint">This should be in mp3 format and no larger than 5MB.</span>
                    <input type="file" id="mainFile" name="main">
                </div>
                {% endif %}

                <div class="form-group">
                    <input class="button" type="submit" value="Save" id="upload">

                  {% if uploadDetails.success %}
                    <h4 id="uploadSuccess" class="success">Saved successfully</h4>
                    <p id="uploadSuccessNotes" class="font-xsmall">{{ uploadDetails.timestamp }}</p>
                  {% endif %}
                </div>

            </form>
        </div>

        <div class="column-full">
            {% include "components/content_items_table.html" %}
        </div>

    </div>

</main>
{% endblock %}
