{% extends "layout.html" %}

{% block page_title %}
Upload - Video
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">A Course</h1>

            <div class="error-summary js-hidden" role="group" aria-labelledby="error-summary-heading-example-2"
                 tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                    Please check the following areas
                </h1>
                <p>One or more errors have occurred while trying to save your progress</p>
                <ul class="error-summary-list">
                    <li><a href="#title-course">Not including the title of a course</a></li>
                    <li><a href="#file-upload">Uploading a file that's too large</a></li>
                </ul>
            </div>


            <form action="" method="post" class="form" enctype="multipart/form-data" name="upload" id="upload-form">
                <input class="form-control" id="contentType" name="contentType" type="hidden" value="video">

                <h3 class="heading-medium">Video</h3>

                <div class="form-group" id="#title-video">
                    <legend id="title-legend">
                        <label class="form-label-bold" for="title">Title</label>
                    </legend>
                    <span class="form-hint">For example, ‘Understanding Your Emotions’.</span>

                    <input class="form-control" id="title" type="text" name="title">
                </div>

                <div class="form-group, description-video" id="#description-video">
                    <legend id="description-legend">
                        <label class="form-label-bold" for="title">Description</label>
                    </legend>
                    <span class="form-hint">Explain what the video is about.</span>

                    <textarea class="form-control" rows="4" id="description" name="description" type="text"></textarea>
                </div>

                <div class="form-group" id="#list-category">
                    <label class="form-label-bold" for="category">Category</label>
                    <span class="form-hint">Select the category of the video. <br>For example: A video about algebra would be in the 'Maths' category.</span>
                    <select class="form-control" id="category" name="category">
                        <option>Distance Learning</option>
                        <option>Art and Literature</option>
                        <option>Business and Economics</option>
                        <option>Counselling and Psychology</option>
                        <option>English</option>
                        <option>Environmental Studies</option>
                        <option>Foreign Languages</option>
                        <option>History</option>
                        <option>Law and Politics</option>
                        <option>Maths</option>
                        <option>Philosophy</option>
                        <option>Science</option>
                        <option>Sociology</option>
                    </select>
                </div>

                <div class="form-group" id="#duration-video">
                    <label class="form-label-bold">Video length</label>

                    <div class="duration-video" id="#video-length-hours">
                        <span class="form-hint">Hours</span>
                        <input class="form-control" id="lengthHours" type="text">
                    </div>

                    <div class="duration-video" id="#video-length-minutes">
                        <span class="form-hint">Minutes</span>
                        <input class="form-control" id="lengthMinutes" type="text">
                    </div>

                    <div class="duration-video" id="#video-length-seconds">
                        <span class="form-hint">Seconds</span>
                        <input class="form-control" id="lengthSeconds" type="text">
                    </div>

                    <input class="form-control" id="videoLength" name="videoLength" type="hidden">
                </div>

                <div class="form-group" id="#file-upload">
                    <label class="form-label-bold" for="mainFile">Upload video file</label>
                    <span class="form-hint">The format should be MP4.</span>
                    <input type="file" id="mainFile" name="mainFile">
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Save" id="upload">

                    {% if uploadDetails.success %}
                    <h4 id="uploadSuccess" class="success">Saved successfully</h4>
                    <p id="uploadSuccessNotes" class="font-xsmall">{{ uploadDetails.timestamp }}</p>
                    {% endif %}
                </div>

            </form>

        </div>

        <div class="column-full">
            {% include "components/content_items_table.html" %}
        </div>
    </div>

</main>
{% endblock %}
